{% extends 'base.html' %}

{% block title %}
    {{ title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        <div class="container">
            <p>{{ title }}</p>
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {% for foo in form %}
                        {{ foo.label }}
                        <p>{{ foo }}</p>
                        {% if foo.errors %}
                            {{ foo.errors }}
                        {% endif %}
                    {% endfor %}
                    <button type="submit">Change my password</button>
                </form>
            {% endif %}
        </div>
    </section>
{% endblock %}