{% extends 'base.html' %}

{% block title %}
    Сброс пароля - {{ block.super }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        <div class="container">
            {{ title }}
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                {% for foo in form %}
                    {{ foo.label }}
                    <p>{{ foo }}</p>
                    {% if foo.errors %}
                        {{ foo.errors }}
                    {% endif %}
                {% endfor %}
                <button type="submit">Сбросить пароль</button>
            </form>
        </div>
    </section>
{% endblock %}