{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project.name|title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        <div class="container">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-12 col-lg-12">
                    <div class="card-wrapper">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card-img">
                                    <img src="{{ project.image.url }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h2>{{ project.name }}</h2>
                                <div class="card-box">
                                    <p class="mbr-text mbr-fonts-style display-7">
                                        {{ project.info }}
                                    </p>
                                </div>
                                <div class="card-box text-lg-right">
                                    {% for obj in object.users.values %}
                                        <a href="{{ obj.get_absolute_url }}">{{ obj.username }}</a>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}