{% extends 'base.html' %}
{% block title %}
    Courses - {{ block.super }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        {% if user.is_superuser or user.mentor %}
            <div class="container">
                <a href="{% url 'course_create_url' %}">
                    <button class="btn btn-success">Add new item</button>
                </a>
            </div>
        {% endif %}
        <div class="container">
            <div class="media-container-row">
                {% for course in courses %}
                    <div class="card p-3 col-12 col-md-6 col-lg-3">

                        <div class="card-wrapper">
                            <div class="card-img">
                                <img src="{{ course.image.url }}" alt="">
                            </div>
                            <div class="card-box">
                                <p class="mbr-text mbr-fonts-style display-7">
                                    {{ course.name }}
                                </p>
                                <p class="mbr-text mbr-fonts-style display-7">
                                    {{ course.info|truncatewords:15 }}
                                    <a href="{{ course.get_absolute_url }}">Подробнее..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}