{% extends 'base.html' %}

{% block title %}
    {{ course.name|title }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        <div class="container">
            {% if user.is_superuser or user.mentor in course.mentor.all %}
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="{{ course.get_update_url }}">
                            <button type="button" class="btn btn-primary">Update</button>
                        </a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{{ course.get_delete_url }}">
                            <button type="button" class="btn btn-secondary">Delete</button>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="media-container-row">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card-img">
                                <img src="{{ course.image.url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card-body">
                                {{ course.info }}
                            </div>
                            <div class="card-box">
                                {% for mentor in course.mentor.all %}
                                    <a href="{{ mentor.get_absolute_url }}">{{ mentor.user.get_full_name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}