{% extends 'base.html' %}

{% block title %}
    {{ course.name }} - {{ block.super }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        <div class="container">
            <form class="card" action="{{ course.get_update_url }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for foo in form %}
                    {{ foo.label }}
                    <p>{{ foo }}</p>
                {% endfor %}
                <button type="submit">Save</button>
            </form>
        </div>
    </section>
{% endblock %}