{% extends 'base.html' %}
{% block title %}
    Courses - {{ block.super }}
{% endblock %}

{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        {% if user.is_superuser or user.mentor %}
            <div class="container">
                <a href="{% url 'course_create_url' %}">
                    <button class="btn btn-success">Add new item</button>
                </a>
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                {% for course in course_list %}
                    <div class="col-sm-3">
                        <div class="card card-pad card-box">
                            <img class="card-img-top img-fluid " src="{{ course.image.url }}" alt="Mentor image">
                            <div class="card-block">
                                <h4 class="card-title card-pad">{{ course.name }}</h4>
                                <p class="card-text card-pad">
                                    {{ course.info|truncatewords:15 }}
                                    <a href="{{ course.get_absolute_url }}">More...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}