{% extends 'base.html' %}
{% block content %}
    <section class="features2 cid-slq0ZBExQm" id="features2-b">
        <div class="container">
            <div class="media-container-row">
                <div class="card p-3 col-12 col-md-12 col-lg-12">
                    <div class="card-wrapper">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card-img">
                                    <img src="{{ sponsor.logo.url }}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h2>{{ sponsor.name }}</h2>
                                <div class="card-box">
                                    <p>
                                        {{ sponsor.body }}
                                    </p>
                                    <p>
                                        <a href="{{ sponsor.site }}">{{ sponsor.name }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}