{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="counters1 counters cid-slq4H7EOYo" id="counters1-g">
        <div class="container">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                <b>Khorezm Inovations and Software Solutions LLC</b>
            </h2>
            <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
                kiss-group.uz: freelance and teaching group
            </h3>
            <div class="container pt-4 mt-2">
                <div class="media-container-row">
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbri-mobirise mbr-iconfont"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                    {{ users.count }}
                                </h3>
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Our users
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Our users will be great programmers in Uzbekistan, because they are teached
                                    by prof-programmers
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbri-touch-swipe mbr-iconfont"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                    {{ projects.count }}
                                </h3>
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Our projects
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Nowadays our company are working several projects, some of them ....
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                        <div class="panel-item p-3">
                            <div class="card-img pb-3">
                                <span class="mbri-responsive mbr-iconfont"></span>
                            </div>
                            <div class="card-text">
                                <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                    {{ sponsors.count }}
                                </h3>
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Our Sponsors
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    We have more than {{ sponsors.count }} partners, and we are proud that our partners are with us
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clients cid-slqgUXGRre" id="clients-v">
        <div class="container mb-5">
            <div class="media-container-row">
                <div class="col-12 align-center">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                        Our Sponsors
                    </h2>
                    <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
{#                        bla bla bla#}
                    </h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="carousel slide" data-ride="carousel" role="listbox">
                <div class="carousel-inner" data-visible="5">
                    <div class="carousel-item flex-lg-row-reverse">
                        {% for sponsor in sponsors %}
                            <div class="media-container-row">
                                <a href="#">
                                    <div class="col-md-12">
                                        <div class="wrap-img ">
                                            <img src="{{ sponsor.logo.url }}" class="img-responsive clients-img">
                                        </div>
                                        <div class="wrap-img ">
                                            {{ sponsor.name }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}