{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{% static 'images/logo2.png' %}" type="image/x-icon">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mbr-additional.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/socicon_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tether.min.css ' %}">
    <link rel="stylesheet" href="{% static 'css/theme_style.css' %}">
    <title>{% block title %}Khorezm Inovation and Software Developers{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

{% include 'navbar.html' %}
{% block content %}

    This is content!

{% endblock %}
<div class="footer4 cid-slq6tkJ8YP" id="footer4-m">
    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="{% url 'home_url' %}/">
                        <img src="{% static 'images/logo2.png' %}" alt="Kiss Bootcamp">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                    KISS Bootcamp
                </p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                    <a href="{% url 'about_url' %}" class="text-white">About</a><br>
                    <a href="{% url 'news_list_url' %}" class="text-white">News</a><br>
                    <a href="{% url 'mentor_list_url' %}" class="text-white">Mentors</a><br>
                    <a href="{% url 'course_list_url' %}" class="text-white">Courses</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-7">
                    News
                </p>
                <p class="mbr-text mbr-fonts-style foot-text display-7">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-7">
                    SUBSCRIBE
                </p>
                <p class="mbr-text mbr-fonts-style form-text display-7">
                    Monthly updates and free resources.
                </p>
                {% include 'news/subscribe.html' %}
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    Contact Us
                </p>
                <div class="social-list pl-0 mb-0">
                    <div class="soc-item">
                        <a href="https://www.twitter.com" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com" target="_blank">
                            <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.instagram.com" target="_blank">
                            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                    <div class="#">
                        <a href="https://www.google.com" target="_blank">
                            <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2021 KISS Bootcamp - All rights reserved!!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-carousel-swipe.js' %}"></script>
<script src="{% static 'js/formoid.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/jarallax.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.mb.vimeo_player.js' %}"></script>
<script src="{% static 'js/jquery.mb.ytplayer.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'js/jquery.viewportchecker.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/mbr-clients-slider.js' %}"></script>
<script src="{% static 'js/mbr-testimonials-slider.js' %}"></script>
<script src="{% static 'js/player.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/script.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/smooth-scroll.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/theme_script.js' %}"></script>

</body>
</html>
