<section class="engine"><a href="https://mobiri.se/r">bootstrap templates</a></section>

<section class="header1 cid-slpZSUPtJc mbr-parallax-background" id="header1-9">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    ИНТРО В ПОЛНУЮ ШИРИНУ
                </h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                    Красивые мобильные сайты
                </h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Интро в полную ширину с регулируемой высотой, фоновым изображением и наложением цвета. Щелкните, чтобы изменить любой текст или его стиль.
                </p>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-primary display-4" href="https://mobirise.com">
                        <span class="mbr-iconfont mbri-file"></span>ПОДРОБНЕЕ</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.com">
                        <span class="mbr-iconfont mbri-idea"></span>ДЕМО</a>
                </div>
            </div>
        </div>
    </div>
</section>
