{% load static %}


<section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{% url 'home_url' %}">
                         <img src="{% static 'images/logo2.png' %}" alt="Kiss Bootcamp" style="height: 3.8rem;">
                    </a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'home_url' %}">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'course_list_url' %}">
                        Courses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'mentor_list_url' %}">
                        Mentors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'news_list_url' %}">
                        News
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'project_list_url' %}">
                        Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'sponsor_list_url' %}">
                        Sponsors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'about_url' %}">
                        About
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown nav-item">
                            <div class="dropbtn">{{ user.get_full_name }}</div>
                            <div class="dropdown-content nav-item">
                                <a class="nav-link link text-black display-4" href="{% url 'password_change' %}">Settings</a>
                                <a class="nav-link link text-black display-4" href="{% url 'logout' %}">Logout</a>

                            </div>
                        </div>

                    </li>
                {% else %}
                    <li class="nav-item">
                        <div class="dropdown nav-item">
                            <div class="dropbtn">
                                <img class="login-img" src="{% static 'images/login.jpg' %}" alt="login"  >
                            </div>
                            <div class="dropdown-content nav-item">
                                <a class="nav-link link text-black display-4" href="{% url 'login' %}">Signin</a>
                                <a class="nav-link link text-black display-4" href="{% url 'register' %}">Signup</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</section>